<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="main.java.model.AdmEntity"/>
      <mapping resource="main/java/model/AdmEntity.hbm.xml"/>
      <mapping class="main.java.model.CrsEntity"/>
      <mapping resource="main/java/model/CrsEntity.hbm.xml"/>
      <mapping resource="main/java/model/ElcEntity.hbm.xml"/>
      <mapping class="main.java.model.ElcEntity"/>
      <mapping class="main.java.model.OpnEntity"/>
      <mapping resource="main/java/model/OpnEntity.hbm.xml"/>
      <mapping class="main.java.model.StuEntity"/>
      <mapping resource="main/java/model/StuEntity.hbm.xml"/>
      <mapping class="main.java.model.TchEntity"/>
      <mapping resource="main/java/model/TchEntity.hbm.xml"/>
      <!-- table & entity mapping -->


    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>